[defaults]
inventory = ./inventory.hcloud.yml, ./inventory.ini
interpreter_python = python3
roles_path = ../roles:./roles

remote_user = root
host_key_checking = True
forks = 10

[ssh_connection]
# Trust the first connection to a newly provisioned server. Reject changed keys.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True
